.itemBackground {
  background-color: #ffffff;
}

.divider {
  width: 97%;
  height: 1px;
  margin-left: 3%;
  background-color: #eaf0fa;
}

.listItem {
  display: grid;
  grid-template-columns: 2.8% 3.7% 6.18% 5.34% 2.64% 1.6% 22.6% 14% 13.75% 27.39%;
  height: 65px;
  align-items: center;
  justify-items: start;
  padding: 0 0 0 0.9%;
}

.listItemHovered {
  display: grid;
  grid-template-columns: 2.8% 3.7% 6.18% 5.34% 2.64% 1.6% 22.6% 14% 13.75% 27.39%;
  height: 65px;
  align-items: center;
  justify-items: start;
  background-color: #d4dff32b;
  padding: 0 0 0 0.9%;
}
/* d4dff32b */
.callTime {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
}

input[type="checkbox"] {
  transform: scale(1.26);
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.web {
  width: 16px;
  height: 16px;
}

.company {
  font-style: normal;
  font-size: 15px;
  color: #5e7793;
}

.name {
  font-style: normal;
  font-size: 15px;
  color: #122945;
}

.name input {
  border: none;
  background: transparent;
}

.source {
  font-style: normal;
  font-size: 15px;
  color: #5e7793;
}

.someButton {
  width: 80%;
  max-width: 120px;
}

.record {
  display: grid;
  width: 100%;
  padding-right: 13%;
  font-weight: 400;
  font-size: 15px;
  color: #122945;
  /* justify-content: end; */
}

.player {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #eaf0fa;
  border-radius: 48px;
  height: 48px;
  /* padding: 0 3%; */
  justify-self: end;
  /* justify-content: end; */
}

.player svg {
  min-width: 12px;
  margin: 0 2%;
  fill: #adbfdf;
  cursor: pointer;
}

.player svg:hover {
  fill: #005ff8;
}

.player svg:last-child {
  margin-right: 20px;
}

.playButton {
  outline: none;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.playButton button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.playerDuration {
  margin-left: 5%;
  min-width: 40px;
}

.duration {
  justify-self: end;
}

.displayNone {
  display: none;
}
