.columnTitle {
  display: flex;
}

.columnHat {
  display: inline-block;
  color: #899cb1;
  border: 0px;
  cursor: pointer;
}

.columnHat:hover {
  display: inline-block;
  color: #005ff8;
  align-items: center;
  border: 0px;
  cursor: pointer;
}
