.infiniteScrollWraper {
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 92vh;
}

.infiniteScrollWraper::-webkit-scrollbar {
  width: 0.4vw;
}

.infiniteScrollWraper::-webkit-scrollbar-button {
  height: 135px;
}

.infiniteScrollWraper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #5e77935b;
  visibility: hidden;
}

.infiniteScrollWraper:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.skeleton {
  width: 10px;
}

.listHat {
  display: grid;
  /* width: 100%; */
  grid-template-columns: 2.8% 3.7% 6.18% 5.34% 2.64% 1.6% 22.6% 14% 13.75% 27.39%;
  height: 65px;
  align-items: center;
  justify-items: start;
  color: #899cb1;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 0 0.9%;
}

.listHat:first-child {
  padding: 0 0 0 0.9%;
}

.duration {
  display: grid;
  padding-right: 13%;
  justify-self: end;
}

.dateSelector {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
}

.empFilterElement {
  display: flex;
  align-items: flex-start;
}

.empFilterElement img {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.empName {
  margin-left: 5px;
}

.divider {
  width: 97%;
  height: 1px;
  margin-left: 3%;
  background-color: #eaf0fa;
}

.extraItem {
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
}
