.listWrapper {
  background-color: #ffffff;
  border-radius: 8px;
}

.listHat {
  display: flex;
  height: 61px;
  align-items: center;
}

.dateSelector {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
}

.empFilterElement {
  display: flex;
  align-items: flex-start;
}

.empFilterElement img {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.empName {
  margin-left: 5px;
}
