.filterTitle {
  display: flex;
}

.dropdown {
  position: relative;
  margin-left: 36px;
  display: inline-block;
  color: #5e7793;
  font-size: 14px;
  font-weight: 400;
  justify-items: flex-end;
  align-items: center;
  border: 0px;
  cursor: pointer;
}

.dropdownHovered {
  position: relative;
  margin-left: 36px;
  display: inline-block;
  color: #005ff8;
  font-size: 14px;
  font-weight: 400;
  justify-items: flex-end;
  align-items: center;
  border: 0px;
  cursor: pointer;
}

.menuItem {
  padding-left: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0px;
  cursor: pointer;
  color: #899cb1;
}

.menuItem:hover {
  height: 40px;
  display: flex;
  align-items: center;
  color: #122945;
  background-color: #005ff838;
}

.menuItemSelected {
  padding-left: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0px;
  cursor: pointer;
  color: #005ff8;
}

.menuItemSelected:hover {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #005ff838;
}

.dropdownContent {
  display: none;
}

.show {
  display: block;
  margin-top: 10px;
  justify-content: left;
  float: right;
  /* margin-left: 50px; */
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 204px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
